---
layout: base.njk
---

{{ content | safe }}

<div class="grid-container">
  <table class="usa-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Source</th>
      </tr>
    </thead>
    <tbody>
      {% for release in code.releases %}
        <tr>
          <td>
            <a href="{{ release.repositoryURL }}">{{ release.name }}</a>
          </td>
          <td>
            {{ release.description }}
          </td>
          <td style="min-width: 10em;">
            {% if release.permissions.usageType == "openSource" %}
              ✅ Open
            {% else %}
              ❎ Closed
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
